*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}


/* Navbar */
.navbar{
  box-shadow: 0px 0px 10px 0px rgba(171, 166, 166, 0.703);
}
.navbarCont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
  height: 6rem;
}

.links ul li{
  display: inline;
  margin: 0 1rem;
}

.links ul li a{
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.links ul li a:hover{
  color: #007fff;
}

.btnGroup{
  display: flex;
  gap: 10px;
  margin-right: 1.3rem;
}
.btn{
  height: 40px;
  padding: 1px 19px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: #007fff;
}

.btnLogin{
  background-color: #D9D9D9;
}

.menuIcon{
  display:none;
}

.opacity{
  position: fixed;
  height: 100vh;
  width: 0vw;
  background-color: #737373;
  opacity: 0.4;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.sidebar{
  position: fixed;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 0vw;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 8px 0px rgba(171, 166, 166, 0.703);
}
.closeIcon{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin: 1rem;
  
}
.sidebar ul li{
  list-style: none;
  margin: 1.5rem 0;
}
.sidebar ul li a{
  display: inline;
  text-decoration: none;
  margin: 0 1rem;
  color: black;

}

@media(max-width:1000px){
  .links{
    display: none;
  }
  .btnGroup{
    display: none;
  }
  .navbarCont{
    margin: 0 1rem;
  }
  .menuIcon{
    display: block;
  }
  .sidebar{
    display: block;
  }
}


/* Component1 */
.c1
{
  display: flex;
  margin: 0 4rem;
  flex-direction: column;
}
.s1{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.leftSection{
  min-width: 50%;
}
.rightSection{
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightSection img{
    width: 100%;
  }
.heading1{
  margin-top: 3rem;
  font-size: 5rem;
  font-weight: bold;
}
.heading2{
  color: gray;
  line-height: 1.8rem;
  padding-right: 8rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top:2rem
}
.c1btn{
  margin-top: 3rem;
}

.s2{
  width: 100%;
  padding:3rem 0;
  margin: 1rem;
}
.s2 p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.s2comp{
  display: flex;
  gap: 1rem;
  margin: 0 5rem;
  margin-top: 4rem;
  justify-content: space-between;
}

@media(max-width:900px)
{
  .s1{
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }

  .s2comp{
    flex-wrap: wrap;
    justify-content: center;
  }
  .heading2{
    padding: 0;
  }
  .heading1{
    font-size: 2.5rem;
  }
  .c1{
    margin: 0 1rem;
  }
}

/* Component2 */
.c2{
  display: flex;
  flex-direction: row;
  background-color: #F7F7F7C9;
  padding: 4rem;
}
.c2s1{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c2s1cont{
 padding-right: 3rem;
}
.c2s2{
  display: flex;
  gap:2rem;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
.c2s3{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.c2h1{
  font-size: 2rem;
  font-weight: bold;
}
.c2h2{
  font-size: 1.2rem;
  line-height: 1.5;
  color: grey;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-right: 6rem;
}
.c2card{
  border-radius: 1rem;
  background-color: white;
  width: 15rem;
  padding: 1rem;
  height: 8rem;
}
.c2img{
  display: flex;
  justify-content: right;
}
@media(max-width:1162px)
{
  .c2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .c2s1{
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 2rem;
  }
  .c2s1cont{
    padding: 0;
  }
  .c2h2{
    padding: 0;
  }
  .c2s2{
    width: 90%;
    padding: 1rem;
    align-items: center;
  }
  .c2card{
    width: 90%;
  }
  .c2s3{
    width: 90%;
    padding: 1rem;
    align-items: center;
  }
}


/* Component3 */
.c3{
  display: flex;
  gap: 2rem;
  padding: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.c3h1{
  width: 19rem;
  height: 17rem;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.c3card{
  width: 17rem;
  height: 19rem;
  background: url(https://vhub.ai/wp-content/uploads/2023/03/Vector.png);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 8px 0px rgba(171, 166, 166, 0.703);
}
@media(max-width:801px)
{
 
  .c3h1{
    text-align: center;
  }
  .c3h1{
    width: auto;
    height: auto;
  }
  .c3card{
    width: auto;
    height: auto;
  }
}


/* Component4 */
.c4{
  background-color: #F7F7F7C9;
  display: flex;
  padding: 4rem;
  flex-direction: column;
}
.c4h{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}
.c4cont{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.c4tab{
  width: 45%;
}
.c4value{
  width: 70%;
  margin:1rem;
}
.c4tab ul li{
  list-style: none;
  color:#404040;
  cursor: pointer;
  margin:0.5rem 0;
  padding: 1.2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-right: 5rem;
}
.c4tab ul li:hover{
  color: white;
  background-color: #007fff;
}

.active{
  background-color: white;
  color: black;
  border: 1px solid #e5e5e5;
}
@media(max-width:801px){
  .c4{
    padding: 2rem;
  }
  .c4tab{
    width: auto;
  }
  .c4cont{
    flex-direction: column;
    justify-content: center;
  }
  .c4tab ul li{
    margin-right: 0;
  }
  .c4value{
    width: auto;
    text-align: center;
  }
}

/* Component5 */
.c5{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  
}
.c5s1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c5card{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 10rem;
  width: 10rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 13px #c1c1c1;
  border-radius: 1rem;
  line-height: 1.6rem;
  text-align: center;
  border-top: 2px solid #007fff;
}
.c5empty{
  height: 10rem;
  width: 10rem;
  padding: 1rem;
}
.c5s2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.linecont{
  position: absolute;
  z-index: -1;
  width: 75%;
  margin: 0 10px;

}
.line{
  height: 1px;
  background-color: #007fff;
}
.c5icons{
  display: flex;
  justify-content: center;
}
.c5block{
  display: flex;
  width: 10rem;
  padding: 1rem;
  justify-content: center;
}
@media(max-width:1162px){
  .c5s2{
    display: none;
  }
  .c5empty{
    display: none;
  }
  .c5s1{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
  }
  .c5card {
    width: 100%;
  }
}


/* Component6 */
.c6{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-top: 4rem;
}
.c6cont{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.c6card{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0 0 13px #c1c1c1;
    border-radius: 1rem;
    text-align: center;
}



/* Component9 */
.c9{
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.c9cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  border-radius: 3rem;
  box-shadow: 0 0 13px #c1c1c1;
  padding: 3rem 7rem;
  font-size: 2rem;
  font-weight: bold;
}
@media(max-width:945px){
  .c9cont{
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-size: 25px;
    padding: 1rem 2rem;
  }
  .c9{
    padding: 2rem;
  }
}


/* Footer */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.footerImg{
  position: relative;
  bottom: 0;
  left: 0;
}
.footerList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
.footer ul li{
  list-style: none;
  margin: 1.5rem 0;
  color: #737373;
}

.footers1{
  width: 25%;
  padding-top: 13rem;
  padding-left: 2rem;
  line-height: 1.5rem;
  color: #737373;
}
.footers2{
  width: 25%;
  padding: 2rem;
}
.footers3{
  width: 25%;
  padding: 2rem;
}
.footers4{
  width: 25%;
  padding: 2rem;
}
.footericons{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  color:#737373
}
@media(max-width:710px){
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerImg{
    position: static;
  }
}